<div class="header-component">
  <div class="flex align-items-center header-container">
    <div class="logo-container">
      <img
        src="../../../../assets/tsr-logo/tsrlogonew.png"
        alt="logo"
        class="tsrlogo"
      />
    </div>
    <div class="navigation-links">
      <div class="navigationLink" [ngClass]="{active: activeTab === 'overview'}" (click)="goToInPageSection('overview')">Overview</div>
      <div class="navigationLink" [ngClass]="{active: activeTab === 'location'}" (click)="goToInPageSection('location')">Location</div>
      <div class="navigationLink" [ngClass]="{active: activeTab === 'site-layout'}" (click)="goToInPageSection('site-layout')">Site Layout</div>
      <div class="navigationLink" [ngClass]="{active: activeTab === 'walk-through'}" (click)="goToInPageSection('walk-through')">Walkthrough</div>
      <div class="navigationLink" [ngClass]="{active: activeTab === 'gallery'}" (click)="goToInPageSection('gallery')">Gallery</div>
    </div>

    <div class="button-container">
      <button class="buttonClass cursor-pointer" (click)="goToInPageSection('enquire')">Enquire Now</button>
    </div>
  </div>
</div>
