<div class="input_text_component">
  <div
    class="p-input-filled"
    [formGroup]="formGroup"
    autocomplete="off"
    [class]="class"
  >
    <div class="textBoxMargin">
      <div *ngIf="label" class="col-12 p-0 mb-1 labelNames formFields">
        <label class="label"
          >{{ label }} <span *ngIf="requiredStar" class="requiredStar">*</span>
        </label>
      </div>
      <div class="col-12 p-0 m-0 inputField formFields passwordField">
        <p-password
          [formControlName]="name"
          [feedback]="false"
          [toggleMask]="toggleMask"
          [placeholder]="placeholder"
          [disabled]="disabled"
          [class]="class"
          [style]="style"
          (keydown.enter)="enterClicked()"
          (input)="eventFromInputText($event)"
          [maxlength]="maxlength"
          [minlength]="minlength"
        ></p-password>
      </div>
      <div [ngClass]="className" class="flex">
        <small class="p-error-invalid h-2rem">{{ error }}</small>
        <small *ngIf="!error" class="p-error-invalid h-2rem"><br /></small>
      </div>
    </div>
  </div>
</div>
