.dashboard-header {
  position: fixed;
  width: 100%;
  top: 20px;
  z-index: 9;
  display: flex;
  justify-content: center;
}
.dashboard-gallery {
  margin-top: 50px;
}

.dashboard-plots-text {
  margin-top: 150px;
}

.whatsapp-link{
  position: fixed;
  bottom: 20px;
  left: 20px;
}