<div
  class="p-input-filled"
  [formGroup]="formGroup"
  autocomplete="off"
  [class]="class"
>
  <div class="grid textBoxMargin">
    <div class="col-12 labelNames formFields" *ngIf="label">
      <label class="label"
      >{{ label }} <span *ngIf="requiredStar" class="requiredStar">*</span>
    </label>
    </div>
    <div class="col-12 inputField formFields pl-0 pb-0 pr-0 pt-1">
      <textarea
        pInputTextarea
        [placeholder]="placeholder"
        [disabled]="disabled"
        autocomplete="off"
        [formControlName]="name"
        [class]="error ? 'p-invalid' : ''"
        [style]="style"
        [rows]="rows"
        [cols]="cols"
        [autoResize]="autoResize"
        (keypress)="initialSpace($event)"
      ></textarea>
      <div [ngClass]="className" style="position: relative; top: 5px">
        <small
          class="p-error-invalid"
          [innerHTML]="error !== undefined ? error : '&nbsp;'"
        ></small>
      </div>
    </div>
  </div>
</div>
