@import '/src/colors.scss';
.Upload-btn {
    display: flex;
    justify-content: center;
    position: relative;
    width: fit-content;
    // font-style: $font-family;
    font-family: $font-family;
    font-weight: 500;
    font-size: 16px;
    // background-color: blueviolet;
    text-align: center;
    padding: 10px 20px;
    color: $secondaryButtonFontColor;
    border: 2px solid $primaryColor;
    box-sizing: border-box;
    box-shadow: none;
    border-radius: 3px;
  }

  .cloud-Icon{
   display: flex;
   align-items: center;
  }