<div class="forgotComponent">
  <div class="flex justify-content-center align-items-center">
    <div
      class="col-12 md:col-6 lg:col-6 p-0 flex justify-content-center align-items-center h-screen"
    >
      <div class="registerFormFields">
        <div class="wmsLogo flex justify-content-center">
          <div class="warehouseLogoSpan">
            <img
              src="/assets/images/wms logo.png"
              class="warehouseLogo"
              alt="warehouse Logo"
            />
          </div>
        </div>
        <br />
        <div class="flex justify-content-center">
          <img
            width="320px"
            src="../../../../assets/images/Warehouse Management text.png"
            class="warehouseManagementText"
            alt="warehouse Management"
          />
        </div>
        <br />
        <div class="flex justify-content-center">
          <div style="width: 421px">
            <div class="registerFormFieldsWidths">
              <div class="text-center mb-5">
                <p class="register-subheading">{{ header }}</p>
              </div>
              <app-input-password
                [toggleMask]="true"
                [formGroup]="registerForm"
                [name]="'password'"
                [placeholder]="'enter password'"
                [label]="'Password'"
                [error]="
                  inputRequiredValidationsErrors(registerForm, 'password')
                    ? 'password is required'
                    : inputPatternValidationsErrors(registerForm, 'password')
                    ? 'Password should be 8 characters in combination of numbers, letters, and special character'
                    : ''
                "
              ></app-input-password>
              <app-input-password
                [toggleMask]="true"
                [formGroup]="registerForm"
                [name]="'confirmPassword'"
                [placeholder]="'enter confirm password'"
                [label]="'Confirm Password'"
                (enter)="submitForm()"
                [error]="
                  inputRequiredValidationsErrors(
                    registerForm,
                    'confirmPassword'
                  )
                    ? 'confirm password is required'
                    : checkPasswordValidation(
                        registerForm,
                        'password',
                        'confirmPassword'
                      )
                    ? errorMessageForPassword
                    : ''
                "
              ></app-input-password>
              <span class="flex justify-content-center mt-2">
                <app-button
                  [mainClass]="'button-primary'"
                  [label]="header"
                  [showIcon]="false"
                  (submitForm)="submitForm()"
                  [loading]="buttonLoading"
                  [disabled]="
                    !registerForm.valid ||
                    checkPasswordValidation(
                      registerForm,
                      'password',
                      'confirmPassword'
                    )
                  "
                ></app-button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
