@import "../../../../colors.scss";

.register-subheading {
  font-size: 32px;
  color: $fontBoldColor;
  margin: 0px;
  font-family: $font-family;
  font-weight: 800;
  margin-top: 20px;
}
.registerFormFields {
  width: 500px;
  height: 560px;
  padding: 40px 20px 0px 20px;
  box-shadow: 2px 2px 20px 0px #00000026;
}
.warehouseLogoSpan {
  background-color: $primaryColor;
  width: fit-content;
  align-items: center;
  display: flex;
  padding: 20px;
  border-radius: 50%;
}

.warehouseLogo {
  width: 45px;
}
@media (max-width: 550px) {
  .registerFormFields {
    width: 450px;
    height: 540px;
    padding: 20px 0px 0px 0px;
    box-shadow: 2px 2px 20px 0px #00000026;
  }
}

@media only screen and (min-width: 550px) and (max-width: 775px) {
  .registerFormFields {
    width: 460px;
    height: 550px;
    padding: 30px 20px 0px 20px;
    box-shadow: 2px 2px 20px 0px #00000026;
  }
}

@media (max-width: 475px) {
  .registerFormFields {
    width: 350px;
    height: 500px;
    padding: 20px 0px 0px 0px;
    box-shadow: 2px 2px 20px 0px #00000026;
  }

  .registerFormFieldsWidths {
    width: 300px;
    margin-left: 25px;
  }

  .warehouseLogo {
    width: 35px;
  }

  .warehouseManagementText {
    height: 30px;
  }

  .register-subheading {
    font-size: 30px;
  }
}
