<div class="input_button_component">
  <div [class]="mainClass">
    <div *ngIf="showIcon" class="errorMessage">
      <i
        [ngClass]="
          ifHasError && message !== undefined
            ? 'pi pi-times-circle errorIcon'
            : '&nbsp;'
        "
      ></i>
      <i
        [ngClass]="
          !ifHasError && message !== undefined
            ? 'pi pi-check-circle didSucceed'
            : '&nbsp;'
        "
      ></i>
    </div>
    <div [ngClass]="ifHasError ? 'loginError' : 'successMessage'">
      {{ message !== undefined ? message : "&nbsp;" }}
    </div>
    <div class="submit-button-component">
      <button
        pButton
        [icon]="icon"
        [class]="class"
        [label]="label"
        [loading]="loading"
        [disabled]="disabled"
        (click)="onSubmit()"
        [icon]="icon"
      ></button>
    </div>
  </div>
</div>
