@import "../../../../colors.scss";
.sort-component {
  .inputSearch {
    width: 300px;
    height: 39px;
  }
  ::ng-deep {
    .input_text_component .p-inputtext {
      height: 39px !important;
    }
    .input_button_component .button-primary .p-button {
      height: 39px !important;
    }
    .p-datatable .p-datatable-thead > tr > th {
      color: $primaryColor;
    }
    .p-inputtext.ng-dirty.ng-invalid {
      border: 1px solid #ced4da !important;
    }
  }
}
