.totalAPP{
    background-image: url(../assets/background/olga-thelavart-vS3idIiYxX0-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
}