<div class="totalContainer">
  <div class="loginScreenComponent flex justify-content-center">
    <div
      class="col-12 lg:col-6 p-0 flex justify-content-center align-items-center"
    >
      <div class="loginFormFields">
        <div class="flex justify-content-center">
          <img
            src="\assets\images\logo (1).png"
            class="warehouseManagementText"
            alt="warehouse Management"
          />
        </div>
        <br />
      
        <div class="loginInputs flex justify-content-center">
          <div class="loginFormFieldsWidths">
            <app-input-text
              [label]="'Email'"
              name="email"
              [placeholder]="'Enter Email'"
              [formGroup]="loginForm"
              [hideSpecialChar]="false"
              [emailTemplate]="true"
              [maxlength]="50"
              [error]="
                inputRequiredValidationsErrors(loginForm, 'email')
                  ? 'email is required'
                  : inputPatternValidationsErrors(loginForm, 'email')
                  ? 'enter valid email'
                  : ''
              "
            ></app-input-text>
       
            <app-input-password
              [toggleMask]="true"
              [formGroup]="loginForm"
              [name]="'password'"
              [placeholder]="'Enter Password'"
              [label]="'Password'"
              (enter)="submitForm()"
              [error]="
                inputRequiredValidationsErrors(loginForm, 'password')
                  ? 'password is required'
                  : inputLengthValidationsErrors(loginForm, 'password')
                  ? 'invalid password'
                  : ''
              "
            ></app-input-password>

            <span class="signInButton flex justify-content-center w-full">
              <app-button
                [mainClass]="'button-primary'"
                [label]="'Sign in'"
                [showIcon]="false"
                (submitForm)="submitForm()"
                [loading]="loadingButton"
                [disabled]="!loginForm.valid"
              ></app-button>
            </span>
            <!-- <span class="flex justify-content-center mt-5">
              <a routerLink="/auth/forgot-password" class="forgotPassword"
                >Forgot Password?</a
              >
            </span> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>