@import "../../../../colors.scss";

.gallery-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 450px;
}

.gallery-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.gallery-header {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.gallery-item {
  position: relative;
  max-width: 375px;
  overflow: hidden;
}

.image-container {
  position: relative;
  width: 375px;
  height: 350px;
}

.gallery-image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}
.gallery-item:hover .developer-text {
  visibility: visible;
  opacity: 1;
}
.gallery-item:hover .delete-icon {
  visibility: visible;
  opacity: 1;
}
.gallery-item:hover .gallery-image {
  transform: scale(1.1);
}
.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.image-text {
  font-size: 18px;
  font-weight: bold;
}

.developer-text {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease-in-out;
  font-size: 1.2rem;
  margin-top: 5px;
  color: $primaryColor;
}
.delete-icon {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease-in-out;
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 18px;
  cursor: pointer;
  color: $inputRequiredColor;
}
.galleryContainer {
  position: relative;
  .galleria-image {
    width: 850px;
    height: 640px;
    display: block;
    border-radius: 3px 3px 0px 0px;
  }
  .fullScreenIcon {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 18px;
    cursor: pointer;
    color: white;
  }
  .autoPlayIcon {
    position: absolute;
    top: 10px;
    left: 40px;
    font-size: 18px;
    cursor: pointer;
    color: white;
  }
  ::ng-deep {
    .p-galleria-mask {
      --maskbg: #555252de;
    }
    .p-galleria .p-galleria-thumbnail-container {
      background: #ffffff91;
      border-radius: 0px 0px 3px 3px;
      padding: 0.8rem 0.25rem;
    }
    .p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-prev,
    .p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-next {
      color: black;
    }
    .p-link:focus {
      box-shadow: none !important;
    }
  }
}
.galley-component{
  position: relative;
  .pageLoader{
    position: absolute;
    top: 50%;
    left: 43%;
  }
  .backdrop {
    position: absolute;
    top: -3px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 98;
  }
  
}