<div class="galley-component">
<div class="gallery-container" [ngClass]="isAdminLogin ? 'p-0' : ''">
  <h1 *ngIf="!isAdminLogin" class="gallery-title">Gallery</h1>
  <div *ngIf="isAdminLogin">
    <p class="component-heading mb-5">Gallery</p>
  </div>
  <p class="gallery-header" *ngIf="!isAdminLogin">{{ headerText }}</p>

  <div class="gallery-grid" *ngIf="galleryData.length > 0">
    <div class="gallery-item cursor-pointer" *ngFor="let doc of galleryData">
      <div class="image-container">
        <img
          [src]="doc.images[0]"
          [alt]="doc.title"
          class="gallery-image"
          (click)="imageClicked(doc)"
        />
        <div class="image-overlay">
          <div class="image-text">{{ doc.title }} @ {{ doc.location }}</div>
          <div class="developer-text">
            TSR Infra Developers
          </div>
        </div>
       
      </div>
      <div class="delete-icon"  pTooltip="Delete" tooltipPosition="left" *ngIf="isAdminLogin"> <i class="fa fa-trash" aria-hidden="true" (click)="deleteDocument(doc)"></i></div>
    </div>
  </div>
  <div *ngIf="galleryData.length === 0 && !pageLoader">
    <h1 class="text-center mt-4">No Content Found</h1>
  </div>
</div>

<div class="galleryContainer">
  <p-galleria
    id="galleria"
    [value]="images"
    [(visible)]="showGalleria"
    [(activeIndex)]="activeIndex"
    [responsiveOptions]="responsiveOptions"
    [containerStyle]="{ 'max-width': '850px' }"
    [numVisible]="5"
    [circular]="true"
    [fullScreen]="true"
    [showItemNavigators]="true"
    [showThumbnails]="true"
    [baseZIndex]="100000"
    [autoPlay]="autoPlayImages"
    [circular]="true"
  >
    <ng-template pTemplate="item" let-item>
      <img [src]="item" class="galleria-image" />
      <i
        pTooltip="Full Screen"
        tooltipPosition="bottom"
        (click)="fullScreen()"
        class="fa fa-arrows-alt fullScreenIcon"
      ></i>
      <i
        pTooltip="Auto Play"
        tooltipPosition="bottom"
        (click)="playImages()"
        class="fa fa-play autoPlayIcon"
      ></i>
    </ng-template>
    <ng-template pTemplate="thumbnail" let-item>
      <div class="grid grid-nogutter justify-content-center">
        <img [src]="item" style="display: block; width: 100px" />
      </div>
    </ng-template>
  </p-galleria>

</div>
<div *ngIf="pageLoader" class="backdrop">
  <div  class="pageLoader">
    <app-loading-spinner></app-loading-spinner>
  </div>
</div>

</div>