@import "../../../../../colors.scss";

.p-error-invalid {
  color: red !important;
}
.input_text_component .p-inputtext {
  padding: 0.5rem 0.5rem;
  width: 100%;
  height: 39px !important;
}
.clearIcon {
  position: absolute;
  cursor: pointer;
  right: 12px;
}
.input_dropdown_component .p-dropdown .p-dropdown-trigger {
  width: 1.457rem !important;
  position: relative;
  right: 5px;
}
