$primaryColor: #192b64;
$secondaryColor: #ffffff;
$primaryButtonFontColor: #ffffff;
$secondaryButtonFontColor: #2926ac;
$primaryBorderColor: #d1d1d1;
$inputRequiredColor: rgb(240,72,72);
$cardBackgroundColor:rgba(216, 216, 216, 1);
$fontColor: #262626;
$RoutingFontColor: #2926ac;
$inputBackground: #ffffff;
$inputBorderColor: #e0e0e0;
$headerBackground:#F3F3F3;
$accordianHeaderBackgroundColor:#f8f9fa;
$accordianHeaderBorderColor:#dee2e6;
$OSDTabColor:#5469d4;
$headerTextColor:black;
$font-family: 'poppins';
$inputLabelColor: #262626;
$highlightedColor: #2926ac;
$fontBlackColor: #000000;
$activeColor: #2926ac;
$borderColor:#d8d8d8;
$commentDataDateTextColor:#888;
$comment-cardBoxShadow: rgba(0, 0, 0, 0.1);
$ItemInputsBackgroundColor:rgba(41, 38, 172, 0.04);
$fontBoldColor:rgba(38, 38, 38, 1);
$borderColor:rgba(209, 209, 209, 1);
$activeBackground:rgba(41, 38, 172, 0.15);
$activeDeleteColor: #E32722;
$orderStatusNewColor: #dc9f03;
$orderStatusReceivedColor: #008000;
$orderStatusExceptionColor: #c00101;
$orderStatusDspatchReadyColor: #e06e05;
$orderStatusDispatchedColor: #220c93;
$disabledBackgroundColor:#eeecec;
