<div class="change-password-component">
  <div class="mt-4">
    <app-input-password
      [toggleMask]="true"
      [formGroup]="changePasswordForm"
      [name]="'oldPassword'"
      [placeholder]="'enter old password'"
      [label]="'Old Password'"
      [error]="
        inputRequiredValidationsErrors(changePasswordForm, 'oldPassword')
          ? 'old password is required'
          : inputPatternValidationsErrors(changePasswordForm, 'oldPassword')
          ? 'password should be 8 characters in combination of numbers, letters, and special character'
          : ''
      "
    ></app-input-password>
    <app-input-password
      [toggleMask]="true"
      [formGroup]="changePasswordForm"
      [name]="'password'"
      [placeholder]="'enter new password'"
      [label]="'New Password'"
      [error]="
        inputRequiredValidationsErrors(changePasswordForm, 'password')
          ? 'new password is required'
          : inputPatternValidationsErrors(changePasswordForm, 'password')
          ? 'password should be 8 characters in combination of numbers, letters, and special character'
          : checkSamePasswordValidation(
              changePasswordForm,
              'oldPassword',
              'password'
            )
          ? 'old password and new password should not be same'
          : ''
      "
    ></app-input-password>
    <app-input-password
      [toggleMask]="true"
      [formGroup]="changePasswordForm"
      [name]="'confirmPassword'"
      [placeholder]="'enter confirm password'"
      [label]="'Confirm Password'"
      (enter)="submitForm()"
      [error]="
        inputRequiredValidationsErrors(changePasswordForm, 'confirmPassword')
          ? 'confirm password is required'
          : checkPasswordValidation(
              changePasswordForm,
              'password',
              'confirmPassword'
            )
          ? errorMessageForPassword
          : ''
      "
    ></app-input-password>
    <span class="flex justify-content-end mt-2">
      <app-button
        [mainClass]="'button-cancel'"
        [label]="'Cancel'"
        [showIcon]="false"
        (submitForm)="cancelForm()"
      ></app-button>
      &nbsp; &nbsp;
      <app-button
        [mainClass]="'button-primary'"
        [label]="'Change Password'"
        [showIcon]="false"
        [loading]="buttonLoading"
        (submitForm)="submitForm()"
        [disabled]="
          !changePasswordForm.valid ||
          checkPasswordValidation(
            changePasswordForm,
            'password',
            'confirmPassword'
          ) ||
          checkSamePasswordValidation(
            changePasswordForm,
            'oldPassword',
            'password'
          )
        "
      ></app-button>
    </span>
  </div>
</div>
